/*------------- CSS RESET -----------------------*/

*{
  padding: 0;
  margin: 0;
  font-size: 100%;
  line-height: 1em;
}

body{
  /*width: 75%;
  max-width: 700px;*/
  font-family: 'Oswald', 'Heebo', 'Exo 2', sans-serif;
  /*font-family: 'Libre Baskerville', Georgia, Times, 'Times New Roman',serif;*/
  margin: auto;
  background-color: #fef200;
  color: #333;
  line-height: 1.8;
}

header {
  height: 100vh;
  width: 98vw;
}

.landing {
  background-image: url(../images/landing-page.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  overflow: hidden;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #ff292d;
}

table.menu {
  text-align:left;
  margin-top: 6em;
  margin-right: 9em;
  margin-left: 3em;
  /*border: 1px solid #000*/

}

table.works {
  margin: auto;
  width: 75%;
  padding-bottom: 1em;


}

blockquote.works {
  font-size: 2.3em;
}

td p {
  font-size: .5em;
  /*text-align: justify;*/

}

table #works {
  font-size: 1.2em;
  text-align: justify;
}

img.works {
  width: 90%;
  margin-bottom: .4em;
  margin-top: 0;
}

td {
  font-style: 'Heebo';
  font-size: 3.2em;

  line-height: 1.5em;
}

article {

  width: 100%;
  margin: auto;
  padding-top: 2em;
  padding-bottom: 2em;
}

h2 {
  font-family: 'Heebo';
  font-size: 3em;
  margin-left: 2em;
  margin-top: .5em;
  padding-bottom: .2em;
}

p {
  font-family: 'Oswald';
  width: 85%;
  font-size: 1.5em;
  margin: auto;
  margin-bottom: 1em;
  line-height: 1.1em;
}

article.intro {
  background-color: white;
}

article.education {
  background-color: white;
}

article.works {
  background-color: white;
}

article.conclusion {
  background-color: white;
  margin-bottom: 0;
  padding-bottom: 2em;
}

article.awards {
  text-align: center;
  font-size: 1.5em;
  line-height: 1.7em;
}

article.awards h2 {
  text-align: center;
  margin-left: 0;
}

article.bibliography {
  background-image: url(../images/down-arrow.gif);
  background-repeat: no-repeat;
  background-position: top;
  position: absolute;
  margin-top: 0;
  padding-top: 1em;
}

article.bibliography h2 {
  margin-top: 2em;
}

blockquote{
  text-align: center;
  padding-top: .5em;
  padding-bottom: .5em;
  font-size: 1.75em;
  line-height: 1.4em;
}

blockquote cite{
  font-size: .75em;
}

blockquote p{
  color: #777;
  hanging-punctuation: first;
  text-indent: -0.5em;
}

.slant {

  margin-bottom: 0;
  width: 100%;
}

.contact {
  padding-top: 40em;
  padding-bottom: .7em;
  text-align: center;
}

.contact p {
  font-family: 'Heebo';
  line-height: 0;
  font-size: 1.3em;
}

footer img {
  padding-top: .4em;
  padding-left: 1em;
}
